body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.player-bord {
    display: flex;
    width: 86%;
    height: 560px;
    left: 140px;
    top: 50px;
    background: #161616;
    border-radius: 30px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.player-image img {
    width: 533px;
    height: 580px;
   
    
}
.player-image
{
    margin-right: 80px;
}

.details h1 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 65px;
}
.details
{
    margin-left: 100px;
   padding-bottom: 20px;

}

.details-pare {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.btn {
    border: none;
    width: 185px;
    height: 55px;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.but3 button
{
    border: none;
    width: 220px;
    height: 62px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    
    
   
}
.three-btn
{
    background-color: #161616;
    width: 290px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
 
}
.blog-btn
{
    background-color: #DD0000;
    color: white;
}
.blog 
{

    width: 271px;
 
}
.border

{
    border: 1px solid lightgray;
    border-radius: 10px; 
    margin-bottom: 5px;
}
.flag1
{
    display: flex;
    
}
.flag11
{
    margin-right: 15px;
}
.flag22
{
    margin-left: 15px;
}

.elements
{
    display: grid;
    justify-content: center;
    padding-top: 20px;
}
.Germany
{
    margin-left: 25px;
}
.april
{
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 16px;
}
.blog1
{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.two
{
     display: flex; 
   justify-content: space-between;
    
}


.low 
{
    display: flex;
    margin-left: 15px;
    
}
.comment
{
    margin-bottom: 100px;
    margin-left: 50px;
}
.num
{

  margin-left: 30px;
  margin-top: -30px;
 font-size: 14px;
}

.last-part
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    color: white;
    margin-left: 180px;
    margin-right: 180px;
    font-size: 14px;
    color: #B9B9B9;

}
.goal
{
    text-align: center;
    color: white;
   padding-top: 120px;
   margin-bottom: 50px;
   font-weight: 500;
   font-size: 40px;
   
}

.footer
{
    background-color: #161616;
    width: 100%;
    height: 400px;
   
}
hr
{
    margin-left: 180px;
    margin-right: 180px;
}
.social
{
    
    margin-top: 50px;
}
